*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
h1{
    color: #fff;
    text-align: center;
    padding: 20px;
}
button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: azure;
    margin: 10px;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}