*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(120deg, #000,#2c2b2b, #3d3c3c);
}
h1{
    color: #fff;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}
button{
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: azure;
    margin: 10px;
    border-radius: 5px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.jarvis_setup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    color: #fff;
}
label{
    margin-top: 20px;
}
input{
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
textarea{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
#setup{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(100, 228, 100);
    cursor: pointer;
}
#setup:hover{
    background-color: rgb(10, 180, 10); 
}